<!DOCTYPE html>
<html lang="en">

<head>
  <title>gorjana Internal Opportunities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="author" content="David Štefan">
  <link href="style.css" rel="stylesheet">
  <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg"> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <img
    class="image"
    srcset="
      images/banner-320 320w,
      images/banner-1452.jpg 1452w,
      images/banner-2163.jpg 2163w,
      images/banner-2715.jpg 2715w,
      images/banner-3194.jpg 3194w,
      images/banner-3724.jpg 3724w,
      images/banner-3840.jpg 3840w"
    src="images/banner-3840.jpg"
    alt="Banner"
  >
  <main id="job-posts" class="container is-max-desktop">
    <a href="https://gorjana.com" id="logo" class="block" target="_blank"><img class="image" src="logo.avif" width="120"></a>
    <h1 class="mb-5">gorjana Internal Opportunities</h1>
    <div class="block">
      <h2>Philosophy</h2>
      <p>At gorjana, we prioritize a culture rich in development and career opportunity. Internal pathways are imperative to the continued success of our growing brand.
        Our goal is simple: prioritize filling open roles with <em><strong>internal candidates prior to searching for external talent</strong></em>.
      </p>
    </div>
    <div class="block">
      <h2>Purpose</h2>
      <p> We are here to chat through your career goals; whether they be to explore opportunities in a different department or pursue a progression to leadership, we look forward to connecting with you!</p>
    </div>
    <div class="block">
      <h2>Action</h2>
      <p>Understanding how you want to grow your career is important to us. The first step is to express interest in internal opportunities by applying to the available positions below that align with your aspirations. Please be sure to answer all application questions thoroughly for timely application processing.</p>
    </div>
    <div class="block">
      <small>If you have interest in an area that is not on this list, please check back periodically as we update this board as new opportunities become available. While we may not have an opening in your desired area right now, there could be an opportunity in the future.</small>
    </div>
    <div id="job-posts__filters" class="block">
      <div class="field">
        <label class="label">Department</label>
        <div class="select">
          <select v-model="selectedDepartmentId">
            <option value="0">All Departments</option>
            <option v-for="department in departments" :key="department.id" :value="department.id">{{ department.name }}</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Office</label>
        <div class="select">
          <select v-model="selectedOfficeId">
            <option value="0">All Offices</option>
            <option v-for="office in offices" :key="office.id" :value="office.id">{{ office.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <p v-if="jobPosts.length" class="block">{{ jobPostsFiltered.length }} job{{ jobPostsFiltered.length !== 1 ? 's' : '' }}</p>

    <div v-for="department in departments" class="block job-posts-per-department">
      <h2 v-if="!+selectedDepartmentId" class="label">{{ department.name }}</h2>
      <div class="block job-post" v-for="jobPost in jobPostsFiltered.filter(({ job: { departments } }) => departments.map(({ id }) => id).includes(department.id))" :key="jobPost.id">
        <a :href="`/job-post?id=${jobPost.id}`" class="job-post__title">{{ jobPost.title }}</a>
        <p class="subdued">{{ jobPost.location.name }}</p>
      </div>
    </div>
  </main>
  <script>
    window.onerror = () => console.log(1);
  </script>
  <script src="index.js"></script>
</body>

</html>
