<!DOCTYPE html>
<html lang="en">

<head>
  <title>gorjana Internal Opportunities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="David Štefan">
  <link href="style.css" rel="stylesheet">
  <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg"> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <img
    class="image"
    sizes="(max-width: 3840px) 100vw, 3840px"
    srcset="
      images/banner-320 320w,
      images/banner-1452.jpg 1452w,
      images/banner-2163.jpg 2163w,
      images/banner-2715.jpg 2715w,
      images/banner-3194.jpg 3194w,
      images/banner-3724.jpg 3724w,
      images/banner-3840.jpg 3840w"
    src="images/banner-3840.jpg"
    alt="Banner"
  >
  <main id="job-posts" class="container is-max-desktop">
    <a href="https://gorjana.com" id="logo" class="block" target="_blank"><img class="image" src="logo.avif" width="120"></a>
    <h1>gorjana Internal Opportunities</h1>
    <div class="block">
      <p>At gorjana, we act with intention, exude passion for business and strive to be unique in all that we do. We presume trust in each other and make the commitment to measure by the standards of fairness.</p>
      <ul>
        <li>Intention | How We Act: honest, respectful, generous, thoughtful, purposeful</li>
        <li>Passion | How We Live: competitive, optimistic, motivated, selfless, problem-solver</li>
        <li>Unique | How We Work: innovative, efficient, adaptable, collaborative, aligned</li>
        <li>Presume Trust | How We Communicate: authentic, clear, transparent, proactive, receptive</li>
        <li>Fairness | How We Measure: equality, clear, timely, expectations, objective</li>
      </ul>
      </p>
    </div>
    <div id="job-posts__filters" class="block">
      <div class="field">
        <label class="label">Department</label>
        <div class="select">
          <select v-model="selectedDepartmentId">
            <option value="0">All Departments</option>
            <option v-for="department in departments" :key="department.id" :value="department.id">{{ department.name }}</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Office</label>
        <div class="select">
          <select v-model="selectedOfficeId">
            <option value="0">All Offices</option>
            <option v-for="office in offices" :key="office.id" :value="office.id">{{ office.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <p v-if="jobPosts.length" class="block">{{ jobPostsFiltered.length }} job{{ jobPostsFiltered.length !== 1 ? 's' : '' }}</p>

    <div v-for="department in departments" class="block job-posts-per-department">
      <h2 v-if="!+selectedDepartmentId" class="label">{{ department.name }}</h2>
      <div class="block job-post" v-for="jobPost in jobPostsFiltered.filter(({ job: { departments } }) => departments.map(({ id }) => id).includes(department.id))" :key="jobPost.id">
        <a :href="`/job-post?id=${jobPost.id}`" class="job-post__title">{{ jobPost.title }}</a>
        <p class="subdued">{{ jobPost.location.name }}</p>
      </div>
    </div>
  </main>
  <script src="index.js"></script>
</body>

</html>